
/* For the logo */
.logo {
	height: 80px;
}

#map_canvas {
	width: 825px;
	height: 800px;
}

#address{
	width: 330px;
}

#start,#end,#waypoints{
	width: 300px;
}

#directions_panel{
	width:380px;
	background-color:#DAEDE2;
}