<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Welcome to UltimateRoute!</title>

  <!-- Bootstrap -->
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../templates/front.html">
              <img class="logo" src="../image/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#save"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-floppy-save"></span>
                </button></a></li>
                <li><a href="#print"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-print"></span>
                </button></a></li>
                <li><a href="#share"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-share"></span>
                </button></a></li>
                <li><a href="#private"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-eye-close"></span>
                </button></a></li>
                <li><a href="#explore"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-globe"></span>
                </button></a></li>
                <li><a href="#help"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5 col-md-4 sidebar" style="background-color: #eee;">
              <ul class="nav nav-sidebar">
                <li class="active"><a href="Overview">Overview</a></li>
                <li><a href="#Reports">Reports</a></li>
                <li><a href="#Analytics">Analytics</a></li>
                <li><a href="#Export">Export</a></li>
              </ul>
            </div>
            <div class="col-sm-7 col-md-8 main">
              <div id="map_canvas"></div>
            </div>
          </div>
        </div>


        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
        function initialize() {
          var map_canvas = document.getElementById('map_canvas');
          var map_options = {
            center: new google.maps.LatLng(1.3375236080944714,103.85328770585943),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(map_canvas, map_options)
          google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
          infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
      </body>
      </html>