<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&language=en"></script>
  <script src="../stylesheets/maps.js"></script>
  <script src="../stylesheets/main.js"></script>

  <link rel="shortcut icon" href="../image/icon.png">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:700|Open+Sans' rel='stylesheet' type='text/css'>

  <title>Welcome to UltimateRoute!</title>

  <!-- Bootstrap -->
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <script src="../stylesheets/facebook.js"></script>
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../templates/front.html">
              <img class="logo" src="../image/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#save"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-floppy-save"></span>
                </button></a></li>
                <li><a href="#print"><button type="button" class="btn btn-default btn-lg" onclick="printButton()">
                  <span class="glyphicon glyphicon-print"></span>
                </button></a></li>
                <li><a href="#share"><button type="button" class="btn btn-default btn-lg" data-href="http://ultimate-route.appspot.com/ultimateroute">
                  <span class="glyphicon glyphicon-share"></span>
                </button></a></li>
                <li><a href="#private"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-eye-close"></span>
                </button></a></li>
                <li><a href="#explore"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-globe"></span>
                </button></a></li>
                <li><a href="#help"><button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5 col-md-4 sidebar" style="background-color: #eee;">
              <div>
                <p>Hello<span><b> {{ username }} </b><a href="{{ logout }}">Logout</a></span></p>
              </div>
              <div id="get_addr">
                <input id="address" type="textbox" placeholder="Where do you want to go?">
                <input class="btn_reset" type="button" value="X" onclick="resetAddr()">
                <input class="btn_find" type="button" value="Locate" onclick="codeAddress()">
                <input class="btn_add" type="button" value="Add" onclick="addAddr()">
              </div>
              <div id="get_destins" style="display:none;">          
                <div class="labels"><label for="start">Please choose a starting point for your trip</label></div>
                <select id="start"></select>
                <div class="labels"><label for="waypoints">Select middle points (Double click on address to delete)</label></div>
                <select multiple id="waypoints"></select>
                <div class="labels"><label for="end">Please choose an ending point for your trip</label></div>
                <select id="end"></select>
                <input class="btn_get" type="button" value="Get direction" onclick="calcRoute()">
              </div>
              <div id="panel_container" style="display:none;">
                <p>Total Distance: <span id="total"></span></p>
                <div id="directions_panel"></div>
              </div>
            </div>
            <div class="col-sm-7 col-md-8 main">
             <div id="map_canvas"></div>
           </div>
         </div>
       </div>


       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="../bootstrap/js/bootstrap.min.js"></script>
     </body>
     </html>